@using System.Security.Claims;
@model DetailVM
@inject IHttpContextAccessor _contextAccesor;
@*@{
    var userId = _contextAccesor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
}*@



<div class="page-title wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-leaf bg-green"></i> Blog</h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area">
                        <span class="color-green"><a href="garden-category.html" title="">@Model.Article.Category.CategoryName</a></span>

                        <h3>@Model.Article.Title</h3>

                        <div class="blog-meta big-meta">
                            <small><a href="garden-single.html" title="">@Model.Article.CreatedDate.ToString("dd MMMM,yyyy")</a></small>
                            <small><a href="blog-author.html" title="">by @Model.Article.User.FirstName</a></small>
                            <small><a href="#" title=""><i class="fa fa-eye"></i> @Model.Article.ViewCount</a></small>
                        </div><!-- end meta -->

                        <div class="post-sharing">
                            <ul class="list-inline">
                                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- end post-sharing -->
                    </div><!-- end title -->

                    <div class="single-post-media">
                        <img src="@Model.Article.PhotoUrl" alt="" class="img-fluid">
                    </div><!-- end media -->

                    <div class="blog-content">
                        <div class="pp">
                            <p>@Html.Raw(Model.Article.Content)</p>
                        </div>
                    </div><!-- end content -->

                    <div class="blog-title-area">
                        <div class="tag-cloud-single">
                            <span>Tags</span>
                            @foreach (var item in Model.Article.ArticleTag)
                            {
                                <small><a href="#" title="">@item.Tag.TagName</a></small>
                            }

                        </div><!-- end meta -->

                        <div class="post-sharing">
                            <ul class="list-inline">
                                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- end post-sharing -->
                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="~/upload/banner_01.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis1">

                    <div class="custombox prevnextpost clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        @if (Model.PrevArticle != null)
                                        {
                                            <a asp-action="Detail" asp-controller="Home" asp-route-id="@Model.PrevArticle.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="w-100 justify-content-between text-right">
                                                    <img src="@Model.PrevArticle.PhotoUrl" alt="" class="img-fluid float-right">
                                                    <h5 class="mb-1">@Model.PrevArticle.Title</h5>
                                                    <small>Prev Post</small>
                                                </div>
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-6">
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        @if (Model.NextArticle != null)
                                        {
                                            <a asp-action="Detail" asp-controller="Home" asp-route-id="@Model.NextArticle.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="w-100 justify-content-between">
                                                    <img src="@Model.NextArticle.PhotoUrl" alt="" class="img-fluid float-left">
                                                    <h5 class="mb-1">@Model.NextArticle.Title</h5>
                                                    <small>Next Post</small>
                                                </div>
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end author-box -->

                    <hr class="invis1">

                    <div class="custombox authorbox clearfix bg-success rounded">
                        <h4 class="small-title">About author</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="~/upload/author.jpg" alt="" class="img-fluid rounded-circle">
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 ">
                                <h4><a href="#">@Model.Article.User.FirstName @Model.Article.User.LastName</a></h4>
                                <p><b>I am a prolific contemporary writer known for her engaging storytelling and thought-provoking narratives. With a masterful command of language and a deep understanding of human emotions, Miller's works have captivated readers across the globe. Her novels often delve into complex themes such as identity, family dynamics, and the intricacies of relationships.</b></p>

                                <div class="topsocial">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
                                </div><!-- end social -->

                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end author-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">You may also like</h4>
                        @foreach (var item in Model.SimilarArticle)
                        {
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="/home/detail/@item.Id" title="">
                                                <img src="@item.PhotoUrl" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class=""></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="/home/detail/@item.Id" title="">@item.Title</a></h4>
                                            <small><a href="blog-category-01.html" title="">@item.Category.CategoryName</a></small>
                                            <small><a href="blog-category-01.html" title="">@item.CreatedDate.ToString("dd MMMM,yyyy")</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->


                            </div>

                            <!-- end row -->
                        }

                    </div><!-- end custom-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">@Model.ArticleComments.Count</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="comments-list">
                                    @foreach (var item in Model.ArticleComments)
                                    {
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img src="~/upload/author.jpg" alt="" class="rounded-circle">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading user_name">@item.User.FirstName @item.User.LastName <small>@ViewData[$"PublishDateAgo_{item.Id}"] </small></h4>
                                                <p>@item.Comment</p>
                                                <form method="post" asp-action="DeleteComment">
                                                    <input type="hidden" name="articleId" value="@Model.Article.Id" />
                                                    <input type="hidden" name="commentId" value="@item.Id" />

                                                    @if (User.IsInRole("Admin") || (item.UserId == ViewBag.CurrentUser))
                                                    {
                                                        <button type="submit" class="btn btn-danger btn-sm">Delete Comment</button>
                                                    }

                                                </form>

                                            </div>
                                        </div>
                                    }


                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end custom-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">Leave a Reply</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form method="post" asp-action="AddComment" class="form-wrapper">
                                        <input type="hidden" name="Id" value="@Model.Article.Id">
                                        <textarea name="CommentText" class="form-control" placeholder="Your comment"></textarea>
                                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                                    </form>
                                }
                                else
                                {
                                    <a href="/auth/login?controller=home&action=detail&id=@Model.Article.Id"> Login</a>
                                }

                            </div>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Search</h2>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">

                                @foreach (var item in Model.PopularArticle)
                                {
                                    <a href="garden-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="@item.PhotoUrl" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">@item.Title</h5>
                                            <small>@item.CreatedDate.ToString("dd MMMM, yyyy")</small>
                                        </div>
                                    </a>
                                }



                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Advertising</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="~/upload/banner_04.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Instagram Feed</h2>
                        <div class="instagram-wrapper clearfix">
                            <a href="#"><img src="~/upload/garden_sq_01.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_02.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_03.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_04.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_05.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_06.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_07.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_08.jpg" alt="" class="img-fluid"></a>
                            <a href="#"><img src="~/upload/garden_sq_09.jpg" alt="" class="img-fluid"></a>
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            @foreach (var category in Model.PopularCategories)
                            {
                                <ul>
                                    <li><a href="#">@category.Key <span>(@category.Value)</span></a></li>
                                </ul>
                            }

                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
